.info_skills {
    padding: 16px;
    padding-top: 0;
}

.skills {
    lost-utility: clearfix;

}

.skills_title {
    font-size: 18px;
    font-weight: 500;
    color: #525561;
    letter-spacing: .5px;
    margin-top: 30px;
}

.skills_title span {
    vertical-align: middle;
    margin-right: 8px;
}

.skill_item {
    float: left;
    border: 1px solid #2687d1;
    padding: 5px;
    border-radius: 2px;
    color: #3B99FC;
    font-size: 13px;
    font-weight: 400;
    margin-right: 8px;
    margin-bottom: 8px;
}