
  .activities_list  {
    margin-top: 10px;
  }

  .list_title {
    margin: 0;
    color: #99ADC6;
    font-size: 13px;
    text-transform: uppercase;
    text-align: left;
    letter-spacing: .4px;
    margin-bottom: 8px;
    font-weight: 400;
  }

  .activities_list .list_item {
    border-bottom: 1px solid #e2e4e61a;
    min-height: 30px;
    padding: 10px 0;
    position: relative;
    margin-bottom: 10px;
  }
  
  .list_item {
    /* display: inline; */
    margin: 0 6px 0 0;
    word-wrap: break-word;
    font-size: 14px;
    color: #f0f0f0;
    lost-utility: clearfix;
  }


.item_desc {
  margin-left: 10px;
  font-weight: 300;
}

.item_desc span a {
  color: #f0f0f0;
}

.item_desc .desc {
  font-weight: 300;
  margin-top: 3px;
}

.receiver {
  width: 110px;
  white-space: nowrap;
  overflow: hidden;
  display: inline-block;
  vertical-align: bottom;
  text-overflow: ellipsis;
}

.desc_payment {
  padding: 2px 5px;
  letter-spacing: 0.5px;
  vertical-align: unset;
  border-radius: 2px;
  background: #99ADC6;
  color: #3C444F;
  font-weight: 500;
  text-transform: uppercase;
  font-size: 11px;
  text-decoration: none;
}

/* .desc_payed {
  background: #BBDBB4;
}

.desc_voluntary {
  background: #2E86AB;
} */

  .item_desc {
    margin-left: 40px;
    color: #f0f0f0;
  }

  .item_desc .desc {
    font-weight: 300;
    margin-top: 3px;
  }

  .members {
    float: left;
    vertical-align: sub;
  }

  .members .members_item {
    background-color: #D6DADC;
    border-radius: 3px;
    color: #4d4d4d;
    display: block;
    float: left;
    height: 30px;
    margin: 0 4px 4px 0;
    overflow: hidden;
    position: relative;
    width: 30px;
    -ms-user-select: none;
    user-select: none;
    z-index: 0;
  }

  .members_item span {
    width: 32px;
    height: 32px;
    display: block;
    -webkit-appearance: none;
    line-height: 32px;
    text-indent: 4px;
    font-size: 13px;
    overflow: hidden;
    max-width: 32px;
    max-height: 32px;
    text-overflow: ellipsis;
    background-size: cover;
  }
  

  .list_item .members {
    vertical-align: middle;
  }
  
  .list_item span {
    font-weight: 500;
  }
  
  .list_item .item_meta {
    color: #99ADC6;
    font-size: 13px;
    margin-top: 5px;
    font-weight: 300;
  }

  .item_meta span {
    font-weight: 400;
  }