.header {
    background: #393F4F;
    border-radius: 3px;
    height: 40px;
    padding: 0;
    margin: 0;
}


.agentWrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-direction: column;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    overflow-x: auto;
    position: relative;
    padding: 10px;
    padding-left: 0;
}

.header_image {
    width: 24px;
    height: 24px;
    border-radius: 2px;
    background-size: cover;
    background-color: #606060;
    margin: 0;
    float: left;
    margin-top: 8px;
    margin-left: 8px;
}

.header_actions a {
    margin-left: 10px;
    display: inline-block;
    color: #f0f0f0;
    font-size: 14px;
    text-decoration: none;
    letter-spacing: .5px;
    padding: 0 10px;
    border-radius: 2px;
    height: 24px;
    line-height: 24px;
    margin-top: 8px;
}

.actions_link {
    background: #3B99FC;
}

.header_actions {
    float: right;
    margin-right: 8px;
    height: 40px;
}

.header_name {
    float: left;
    margin: 0;
    line-height: 40px;
    margin-left: 10px;
    color: #f0f0f0;
    font-size: 14px;
    letter-spacing: .5px;
    font-weight: 500;
}

.agent {
    display: flex;
    flex: 1 1 auto;
    flex-direction: row;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    overflow-x: auto;
    position: relative;
    margin-left: -5px;
}

.agent_profile {
    @media screen and (max-width: 800px) {
        lost-column: 12/12;
        padding: 10px;
    }
}

.agent_info {
    lost-utility:clearfix;
    border-bottom: 1px solid rgba(240,240,240, .1);
    padding-bottom: 20px;
}

.info_image {
    width: 24px;
    height: 24px;
    border-radius: 2px;
    margin: 0 auto;
    background-size: cover;
    background-color: #606060;
    margin-top: 2px;
}

.info_title {
    text-align: center;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: .5px;
    margin: 0;
    color: #F0F0F0;
    margin-top: 10px;
    
}

.plan_scope {
    margin: 0;
    padding: 0;
    margin-left: 10px;
    font-size: 13px;
    font-weight: 300;
    text-transform: lowercase;
    color: #fff;
  }
  

  .scope_list {
    list-style: none;
    padding: 0;
    margin: 0;
    /* border-bottom:1px solid #dadada; */
    lost-utility: clearfix;
    /* padding-bottom: 10px; */
  }
  

  .section {
    margin-top: 40px;
    lost-utility: clearfix;
    padding-bottom: 100px;
    lost-column: 1/1;
  }


  .scope_list li {
    color: #161515;
    font-weight: 400;
    letter-spacing: .5px;
    margin-right: 50px;
    cursor: pointer;
  }
  
  .scope_list li.list_active {
    color: #419BF9;
    font-weight: 500;
    position: relative;
    
  }
  .scope_list li.list_active:before {
    position: absolute;
    content: "";
    left: -10px;
    top: 0;
    bottom: 0px;
    width: 2px;
    font-weight: 500px;
    background: #419BF9;
    display: block; 
  }
  

.sidebar_panel {
    list-style: none;
    padding: 0;
    margin: 0;
    margin-top: 20px;
}

.sidebar_panel li {
    margin-bottom: 25px;
    font-size: 14px;
    letter-spacing: .5px;
    padding-left: 10px;
}

.image_photo {
    width: 80px;
    height: 80px;
    border-radius: 2px;
    display: block;
    background-size: cover;
}

.info_note {
    font-size: 14px;
    margin: 0;
    line-height: 22px;
    color: rgba(240,240,240, .8);
    font-weight: 400;
    text-align: left;
    margin-top: 10px;
    line-height: 20px;
    white-space: pre-wrap;
}

.info_skills {
    lost-utility: clearfix;
    margin-top: 16px;
}

.skill_item {
    float: left;
    border: 1px solid #2687d1;
    padding: 5px;
    border-radius: 2px;
    color: #f0f0f0;
    font-size: 13px;
    font-weight: 400;
    margin-right: 8px;
    margin-bottom: 8px;
}

.skill_others {
    background: #3B99FC;
    float: left;
    border: 1px solid #2687d1;
    padding: 5px;
    border-radius: 2px;
    color: #f0f0f0;
    font-size: 13px;
    font-weight: 400;
    margin-right: 8px;
    margin-bottom: 8px;
    cursor: pointer;
}

.skills_title {
    margin: 0;
    color: #99ADC6;
    font-size: 11px;
    text-transform: uppercase;
    text-align: left;
    letter-spacing: .4px;
    margin-bottom: 8px;
    font-weight: 400;
}

.agent_menu {
    margin-top: 40px;
    lost-column: 8/10;
    lost-offset: 1/10;
    padding-bottom: 10px;
    border-bottom: 1px solid #DEDEDE;
}

.menu_item {
    display: inline-block;
    margin: 0;
    margin-right: 70px;
    font-weight: 400;
    color: #161515;
    font-size: 14px
}

.info_email{
    margin: 0;
    margin-top: 8px;
    color: #99ADC6;
    font-size: 13px;
    text-align: left;
    font-weight: 500;
}

.item_active {
    position: relative;
    font-weight: 500;
} 

.planOptionsSpan {
    height: 40px;
    line-height: 45px;
    display: inline-block;
    width: 40px;
    text-align: center;
    cursor: pointer
}

.item_active:after {
    position: absolute;
    content: "";
    left: 0;
    width: 100%;
    height: 1px;
    background: #161515;
    display: block;
    bottom: -11px;
}

.agent_section {
    lost-column: 8/10;
    lost-offset: 1/10;
}

.emptyBox {
    font-size: 18px;
    letter-spacing: .5px;
    padding: 10px;
    margin-top: 10px;
    background: rgba(65, 155, 249, .2);
    border: 1px solid rgba(65, 155, 249, .6);
}

.agent_list {
    
}

.list_item {
    background: #393F4F;
    border-radius: 3px;
    height: 60px;
    margin-bottom: 10px;
    lost-utility: clearfix;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .2)
}

.list_item h5 {
    float: left;
    color: #F0F0F0;
    font-size: 14px;
    line-height: 40px;
    font-weight: 500;
    margin-top: 12px;
}

.item_photo {
    width: 40px;
    height: 40px;
    border-radius: 3px;
    background: #292D37;
    margin: 10px;
    float: left;
}

.item_photo img {
    width: 40px;
    height: 40px;
    border-radius: 3px;
}

.hightlighted {
    background: #393F4F;  
}
.settingsModal {
  background: #393F4F;
  margin: -10px;
  margin-bottom: 10px;
}

.settingsModal .settingsModal_item {
    height: 50px;
    border-bottom: 1px solid rgba(240,240,240, .1);
    line-height: 50px;
}

.item_option {
  padding-left: 10px;
  color: #f0f0f0;
  font-size: 14px;
}

.item_option input {
    margin-right: 10px;
}
.settingsModal .settingsModal_item:last-of-type {
    border-bottom: 0;
}

.resources_list {
}