/* .dateWrapper {
    display: inline-block;
    width: 180px;
    height: 32px;
    border: none;
    margin-top: 5px;
    background: #6bccab;
    border-radius: 4px;
    color: white;
    font-weight: 500;
    line-height: 32px;
}

.dateName {
    margin: 0;
    float: left;
    margin-left: 10px;
    padding-right: 10px;
    border-right: 1px solid #ffffff52;
    line-height: 32px;
    font-weight: 500;
    color: white;
    letter-spacing: .5px;
}

.dateWrapper > div:first-of-type {
    float: left;
    width: 125px;
    border: none;
}

.dateWrapper div input {
    height: 29px;
    border: none;
    padding: 0;
    background: none;
    text-indent: 10px;
    font-size: 14px;
    color: white;
}
 */

.dates {
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    margin-top: 10px;
}

.dateWrapper {
   margin-top: 6px;
   width: 50%;
   border-radius: 3px;
   /* margin-left: 5px; */
   display: inline-block;
   width: 135px;
   border-radius: 4px;
   background: #d0dced;
  }

  .dateWrapper:first-of-type {
      margin-right: 10px;
  }
  
  .dateName {
    margin: 0;
    /* float: left; */
    margin-left: 5px;
    padding-right: 0px;
    /* border-right: 1px solid rgba(255, 255, 255, .32157); */
    /* line-height: 40px; */
    font-weight: 400;
    color: #707b97;
    letter-spacing: .5px;
    font-size: 13px;
    margin-top: 5px;
  }
  
  .dateWrapper > div:first-of-type {
    float: left;
    border: none;
    margin-bottom: 2px;
    margin-top: 0;
  }
  
  .dateWrapper div input {
    border: none;
    background: none;
    text-indent: 10px;
    font-size: 13px;
    color: #707b97;
    font-weight: 600;
    text-align: left;
    width: 100px;
    padding: 0;
    margin: 0;
    text-indent: 0;
    margin-left: 5px;
  }