.popup {
    background: #fff;
    border-radius: 3px;
    border: 1px solid #D6DADC;
    border-bottom-color: #C4C9CC;
    box-shadow: 0 1px 6px rgba(0,0,0,.15);
    /* display: none; */
    position: absolute;
    right: 0;
    /* top: -9999px; */
    width: 300px;
    z-index: 70;
    -webkit-transform: translate3d(0,0,0);
    padding: 10px;
  }
  
  .popup .popup_header h5 {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    color: #8c8c8c;
    display: block;
    line-height: 36px;
    border-bottom: 1px solid #D6DADC;
    overflow: hidden;
    padding: 0 2pc;
    position: relative;
    text-overflow: ellipsis;
    white-space: nowrap;
    z-index: 1;
    text-align: center;
    font-weight: 400;
    font-size: 14px;
    letter-spacing: .5px;
    margin-bottom: 10px;
  }
  
  .activities_list .list_item .members {
    position: absolute;
    left: -38px;
    top: 12px;
  }
  
  .members_name{
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 0.5px;
  }
  
  .popup.hidden {
    display: none;
  }
  
  .popup_content .content_process {
    background: white;
    width: 100%;
    font-size: 16px;
    line-height: 1;
    border: 0;
    border-radius: 3px;
    height: 50px;
    /* -webkit-appearance: none; */
    font-size: 14px;
    text-indent: 5px;
    color: #717171;
    font-weight: 600;
    border: 1px solid #E2E4E6;
    border-bottom-color: #CDD2D4;
    background: -webkit-linear-gradient(top,#fff 0,#F8F9F9 100%);
    background: linear-gradient(to bottom,#fff 0,#F8F9F9 100%);
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border: 1px solid #E2E4E6;
    border-bottom-color: #CDD2D4;
    cursor: pointer;
    display: block;
    font-weight: 700;
    margin-top: 6px;
    max-width: 300px;
    padding: 7px;
    position: relative;
    user-select: none;
    white-space: nowrap;
  }