.header_title {
    font-size: 18px;
    margin: 0 0 9px;
    color: #444444;
    position: relative;
    /* margin-left: 10px; */
    display: inline-block;
    width: 400px;
}

.header_title .content_icon {
  position: absolute;
  left: -34px;
}

/* .content_module .content_icon {
    left: -38px;
    position: absolute;
    top: 8px;
  } */
  
  .content_icon svg {
    stroke: 2;
  }