.cardModal {
    width: 600px;
    box-shadow: 0 2px 8px 3px rgba(0,0,0,.3);
    z-index : 9999999999;
    background-color: #EDEFF0;
    padding:  0;
    margin: 40px auto;
    position: relative;
    border-radius: 3px;
    padding-bottom: 20px;
    outline: none;
  }

  .dateComp {
    height: 30px;
    width: 110px;
    font-size: 14px;
    text-indent: 5px;
    border: none;
    background: #6accaa;
    margin: 0;
    padding: 0;
    color: #fafafa;
  }