.section_wrapper {
    lost-column: 1/1;
}
.section {
  margin-top: 40px;
  lost-utility: clearfix;
  padding-bottom: 100px;
}
.wrapper_tagline .subtitle {
    margin: 0 !important; 
    padding: 0 !important; 
    color: #100F2B;
    font-weight: 600;
    font-size: 14px;
    position: relative;
    display: inline-block;
}
.wrapper_tagline {
  margin: 0;
  lost-column: 1/1;
  padding-bottom: 10px;
  border-bottom: 1px solid #D4D4D4;
}

.wrapper {
    height: auto;
    margin-top: 40px;
    lost-column: 1/1;
  }

.wrapper_tagline h5:after {
  position: absolute;
  content: "";
  left: 0;
  bottom: -11px;
  height: 1px;
  background: #100F2B;
  width: 100%;
  display: block;
}


.plan_scope {
  margin: 0;
  padding: 0;
  margin-left: 10px;
  font-size: 13px;
  font-weight: 300;
  text-transform: lowercase;
}

.lists_item a {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    display: block;
    text-decoration: none;
  }

.lists_item {
    lost-column: 1/3;
    height: 100px;
    margin-bottom: 20px;
    position: relative;
    background: #fbfbfb;
    box-shadow: 0 1px 2px rgba(0, 0, 0, .2);
    border-radius: 2px;
  }


.item_title {
    font-weight: 700;
    margin: 10px;
    font-size: 16px;
    font-weight: 500;
    color: #100F2B;
  }
  
  .lists_item p {
    padding-top: 0;
    margin-top: 0;
    margin-bottom: 10px;
    font-weight: 500;
    font-size: 14px;
    font-weight: 300;
    color: #100F2B;
    margin-left: 10px;
    text-decoration: none !important;
  }

.lists_item .item_info {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 30px;
  padding: 0 10px;
  background: white;
  box-shadow: 0 -2px -2px rgba(0, 0, 0, .2)
}

.item_info .info_date {
  font-size: 13px;
  font-weight: 400;
  color: rgb(109, 109, 109);
  letter-spacing: 0px;
  line-height: 30px;
}

.item_info .info_status {
  height: 20px;
  margin-top: 5px;
  float: right;
  border-radius: 20px;
  padding: 0 5px;
  background: #D8D8D8;
  color: white;
  font-size: 13px;
  letter-spacing: 0px;
  line-height: 20px;
}
.completed {
  background-color: #18BB58 !important;
}
.wip {
  background-color: #FFC930 !important;
}

.todo {
  background-color: #EB4610 !important;
}

  @media screen and (max-width: 600px) {
     .lists_item {
         lost-column: 1/1;
     }
  }