.section_wrapper {
}

.plan_scope {
  margin: 0;
  padding: 0;
  margin-left: 10px;
  margin-right: 10px;
  font-size: 14px;
  font-weight: 300;
  text-transform: lowercase;
  overflow: hidden;
}

.lists_item a {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    display: block;
    text-decoration: none;
  }

.lists_item {
    height: 100px;
    margin-bottom: 10px;
    position: relative;
    background: #fbfbfb;
    box-shadow: 0 1px 2px rgba(0, 0, 0, .2);
    border-radius: 3px;
  }


.item_title {
    font-weight: 700;
    margin: 10px;
    font-size: 14px;
    font-weight: 500;
    color: #100F2B;
    overflow: hidden;
  }
  
  .lists_item p {
    padding-top: 0;
    margin-top: 0;
    margin-bottom: 10px;
    font-weight: 500;
    font-size: 14px;
    font-weight: 300;
    color: #100F2B;
    margin-left: 10px;
    text-decoration: none !important;
  }

.lists_item .item_info {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 30px;
  padding: 0 10px;
  border-radius: 0 0 3px 3px;
  background: white;
  box-shadow: 0 -2px -2px rgba(0, 0, 0, .2)
}

.item_info .info_date {
  font-size: 13px;
  font-weight: 400;
  color: rgb(109, 109, 109);
  letter-spacing: 0px;
  line-height: 30px;
}

.item_info .info_status {
  height: 20px;
  margin-top: 5px;
  float: right;
  border-radius: 20px;
  padding: 0 5px;
  background: #D8D8D8;
  color: white;
  font-size: 13px;
  letter-spacing: 0px;
  line-height: 20px;
}
.completed {
  background-color: #18BB58 !important;
}
.wip {
  background-color: #FFC930 !important;
}

.todo {
  background-color: #EB4610 !important;
}

  @media screen and (max-width: 600px) {
     .lists_item {
         lost-column: 1/1;
     }
  }