.form_note {
    display: block;
    height: 135px;
}

.h5 {
    font-size: 14px;
    font-weight: 600;
    margin: 0;
    margin-bottom: 10px;
}

.inputTitle {
    font-weight: 500;
    font-size: 13px;
    letter-spacing: .5;
    margin-top: 16px;
    color: #99ADC6;
    margin-bottom: 8px;
    text-transform: capitalize;
    margin-top: 0;
}