.Background {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 1000;
  height: 100%;
  justify-content: center;
  overflow: auto;
  cursor: pointer;
}


.Dialog {
  width: 600px;
  box-shadow: 0 2px 8px 3px rgba(0, 0, 0, 0.3);
  z-index: 9999999999;
  background-color: #edeff0;
  padding: 0;
  margin: 40px auto;
  position: relative;
  border-radius: 3px;
  padding-bottom: 20px;
  outline: none;
}


.Actions {
  lost-utility: clearfix;
  padding-top: 10px;
  padding-right: 10px;
  margin-bottom: -50px;
}
.Content {
  lost-utility: clearfix;
}
.Close {
  float: right;
  cursor: pointer;
}