.wrapper {
    margin-top: 20px;
    text-align: center;
}

.wrapperLoader h1 {
    display: inline-block;
    margin-left: 10px;
    color: #606984;
    font-size: 16px;
    vertical-align: middle;
}

.loaderIcon {
    vertical-align: sub;
}

.wrapper_error h1 {
    font-size: 26px;
    color: #f0f0f0a3;
    line-height: 30px;
    font-weight: 500;
}