.sidebar {
    left: -270px;
    top: 0px;
    bottom: 0px;
    width: 280px;
    overflow: auto;
    z-index: 99999;
    margin: 0 5px;
    margin-left: 5px;
    height: 100%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    display: inline-block;
    vertical-align: top;
    white-space: nowrap;
    position: relative;
}

.sidebar_menu_collapsed {
    width: 40px;
}

.sidebar_menu_collapsed .menu_icon {
    width: 40px !important;
}

.visible {
    left: -10px;
}

.sidebar_menu {
    background: #393F4F;
    border-radius: 3px;
    height: 40px;
    padding: 0;
    lost-utility: clearfix;
}

.sidebar_menu .menu_icon {
    lost-column: 1/4;
    vertical-align: middle;
    text-align: center;
    height: 100%;
    line-height: 52px;
    cursor: pointer;
}

.menu_icon:hover {
    background: #292D37
}

.icon_active {
    background: #292D37
}

.sidebar_header {
  background: #393F4F;
  margin-top: 10px;
  border-radius: 3px;
  padding: 15px;
  position: absolute;
  top: 40px;
  left: 0;
  right: 0;
  bottom: 0;
}

.sidebar_header .header_profile {
    lost-utility: clearfix;
    margin-top: 0px;
    height: 30px;
    line-height: 30px;
}

.sidebar_header .header_profile h3 {
    font-size: 16px;
    letter-spacing: 1px;
    float: left;
    font-weight: 500;
    line-height: 30px;
    margin: 0;
    margin-left: 10px;
    color: #F0F0F0
}

.sidebar_header .header_profile .data_image {
    height: 30px;
    width: 30px;
    border-radius: 2px;
    float: left;
}

.sidebar_header .header_profile .data_image img {
    height: 30px;
    width: 30px;
    border-radius: 2px;
}

.sidebar_section {
    /* padding: 20px; */
}

.sidebar_section .section_list {
    padding: 0;
    list-style: none;
    margin: 0;
    margin-top: 10px;
}

.section_list {
    margin: 0;
    padding: 0;
    margin-top: 20px;
}

.section_list li {
    padding: 0;
    margin: 0;
    display: block;
}

.section_list li a {
    font-size: 13px;
    font-weight: 400;
    letter-spacing: 1px;
    text-decoration: none;
    height: 40px;
    line-height:40px;
    color: #F0F0F0;
    text-transform: uppercase;
    position: relative;
}

.section_list li a.active {
  color: #419BF9;
}
.section_list li a.active:before {
    position: absolute;
    content: "";
    width: 2px;
    height: 100%;
    display: block;
    background: #419BF9;
    left: -15px;
    top: 0;
}

.section_planCreation {
    margin-top: 16px;
}


.planCreation_title {
    color: #d9e1e8;
    margin: 0;
    margin-bottom: 8px;
    margin-top: 24px;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: .5px;
}


.form_button {
    float: right;
}

.form_button button {
    border-radius: 0;
    border-bottom-right-radius: 3px;
}

.form_input{
    /* margin-bottom: 8px; */
    border-bottom: 1px solid rgba(54,54,54, .1)
}
.form_input::placeholder {
    font-size: 13px;
    color: #606884;
}

.form_note {
    height: 150px;
}

.formPlanWrapper {
    height: 186px;
    background: white;
    border-radius: 3px;
}

.planCreation_wrapper {
    background: #f0f0f0;
    border-radius: 3px;
}


.dates {
    lost-utility: clearfix;
    background: #ebebeb;
    height: 36px;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
}

.dateWrapper {
   margin-top: 6px;
   margin-left: 5px;
   float: left;
  }
  
  .dateName {
    margin: 0;
    float: left;
    margin-left: 5px;
    padding-right: 0px;
    font-weight: 400;
    color: #707b97;
    letter-spacing: .5px;
    font-size: 14px;
    line-height: 21px;
    font-weight: 500;
  }
  
  .dateWrapper > div:first-of-type {
    float: left;
    border: none;
  }
  
  .dateWrapper div input {
    border: none;
    background: none;
    text-indent: 10px;
    font-size: 13px;
    color: #707b97;
    font-weight: 500;
    text-align: left;
    width: 100px;
    padding: 0;
    margin: 0;
    text-indent: 0;
    margin-left: 5px;
    text-decoration: underline;
  }