@import "../mixins.css";
body {
    font-family: 'Fira Sans';
    background-color: #191B22 !important;
}


.settings {
  display: flex;
  flex: 1 1 auto;
  flex-direction: row;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  overflow-x: auto;
  position: relative;
  margin-left: -5px;
  margin-right: -5px;
}


.skill_item {
    border: 1px solid #2687d1;
    padding: 5px;
    border-radius: 2px;
    color: #3B99FC;
    font-size: 13px;
    font-weight: 400;
    margin-right: 8px;
    display: inline-block;
    margin-bottom: 8px;
}

.settings_menu {
    width: 230px;
    float: left;
    background: #20242B;
    margin-left: -10px;
    margin-top: -10px;
    min-height: 100vh;
    margin-right: 30px;
}

.settings_menu .menu_item {
    height: 60px;
    color:#99ADC6;
    font-size: 14px;
    line-height: 60px;
    border-bottom: 1px solid rgba(240, 240, 240, 0.15);
    padding-left: 10px;
    letter-spacing: .5px;
    cursor: pointer;
}

.menu_item span {
    vertical-align: sub;
    margin-right: 8px;
}

.container_form h2 {
    color: #f0f0f0;
    font-size: 24px;
    letter-spacing: .7px;
    margin: 0;
    margin-top: 10px;
    margin-bottom: 30px;
    font-weight: 500;
}

.container_form h4 {
    margin: 0;
    font-size : 18px;
    font-weight: 300;
    color: #8d9eb7;
}
  
.container_title {
    font-size: 18px;
    font-weight: 600;
    color: #3F4657;
    letter-spacing: 1px;
    height: 50px;
    line-height: 50px;
    margin: 0;
    padding: 0;
    padding-left: 20px; 
    border-bottom: 1px solid #DCDCDC;
}

.form_item {
    lost-utility: clearfix;
    margin-bottom: 20px;
}

.form_item h5 {
    font-size: 14px;
    color: #f0f0f0;
    font-weight: 400;
    margin: 0;
    margin-bottom: 5px;
}

.item_photo {
    float: left;
    margin-left: 10px;
    width: 90px;
    height: 90px;
    border-radius: 4px;
    background: #DCDCDC;
    margin: 0 auto;
    margin-top: 10px;
    background-size: cover;
}

.form_item input {
    width: 300px;
}

.form_item textarea {
    width: 300px;
    height: 150px;
}

.form_actions {
    height: 50px;
    /* border-top: 1px solid #DCDCDC; */
    line-break: 50px;
}

.form_actions button {
    width: 160px;
    margin: 0 auto;
    margin-top: 8px;
}

.menu_item.active {
  background: #3B99FC;
  color: #f0f0f0;
  border-bottom: none;
}

.form_setting {
  padding-bottom: 20px;
  border-bottom: 1px solid rgba(240, 240, 240, 0.15)
}

.container_form {
    width: 400px;
    float: left;
}

.container_form .form_item  .item_info{
    float: left;
    width: 320px;
}

.container_form .form_item p {
    font-size: 14px;
    color: rgb(153, 173, 198);
    margin: 0;
}

.item_status {
    float: right;
}