
.list_item {
    background: rgba(65, 155, 249, .2);
    border: 1px solid rgba(65, 155, 249, .6);
    border-radius: 2px;
    margin-bottom: 10px;
    lost-utility: clearfix;
    padding: 10px;
}

.list_item .item_desc {
    float: left;
    color: #f0f0f0;
    font-weight: 400;
    font-size: 15px;
    line-height: 22px;
}

.list_item .item_desc b {
    font-weight: 500
}

.list_item .type {
    float: right;
    background: rgba(65, 155, 249, 1);
    padding: 2px 10px;
    border-radius: 30px;
    font-size: 12px;
    color: white;
    letter-spacing: .5px;
}
