/* COLORS PALETTE */

$blue_500: #35558F;
$blue_600: #324D7D;

// NEUTRALS
$n0: #fff;
$n10: #FAFBFC;
$n20: #F4F5F7;
$n30: #EBECF0;
$n40: #DFE1E5;
$n50: #C1C7D0;
$n60: #B3BAC5;
$n70: #A5ADBA;
$n80: #97A0AF;
$n90: #8993A4;
$n100: #7A869A;
$n200: #6C798F;
$n300: #5E6C84;
$n400: #505F79;
$n500: #42526E;
$n600: #344563;
$n700: #253858;
$n800: #172B4D;
$n900: #091E42;

// BLUES
$b50: #DEEBFF;
$b75: #B2D4FF;
$b100: #4C9AFF;
$b200: #2684FF;
$b300: #0065FF;
$b400: #0052CC;
$b500: #0747A6;

// GREENS
$g50: #E3FCEF;
$g75: #ABF5D1;
$g100: #79F2C0;
$g200: #57D9A3;
$g300: #36B37E;
$g400: #00875A;
$g500: #006644;

// YELLOWS
$y50: #FFFAE5;
$y75: #FFF0B2;
$y100: #FFE380;
$y200: #FFC400;
$y300: #FFAB00;
$y400: #FF991F;
$y500: #FF8B00;

// REDS
$r50: #FFEBE5;
$r75: #FFBDAD;
$r100: #FF8F73;
$r200: #FF7452;
$r300: #FF5630;
$r400: #DE350B;
$r500: #BF2600;

