.agent {
    lost-utility: clearfix;
    display: flex;
    flex-direction: row;
}


.wrapper {
    display: flex;
    flex: 1 1 auto;
    flex-direction: row;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    overflow-x: auto;
    position: relative;
    margin-left: -5px;
    margin-right: -5px;
}


.inventory_list {
    width: 300px;
    flex: 1;
    flex-grow: 1;
    /* margin: -10px; */
    margin-right: 0;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    background: #1F2129;
    z-index: 9;
}

.inventory_list ul {
    margin: 0;
    padding: 0;
    cursor: pointer;
}


.list_item {
    color: #f0f0f0;
    font-size: 14px;
    font-style: italic;
    height: 50px;
    background: #313339;
    line-height: 50px;
    border-bottom: 1px solid rgba(240,240,240, .2);
}

.inventory_action {
    height: 28px;
    line-height: 28px;
    margin-top: 5px;
    margin-right: 5px;
    text-transform: capitalize;
}

.list_item span {
    padding-left: 10px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
}

.inventory_canvas {
    flex: 1;
    display: flex;
    margin-top: 20px;
    margin-left: 330px;
}

.canvas_image {
    float: left;
    width: 165px;
    height: 165px;
    border: 1px solid rgba(240, 240, 240, .2);
    border-radius: 2px;
    background-size: cover;
}

.canvas_container {
    float: left;
    margin-left: 16px;
    width: 400px;
}

.canvas_title {
    margin: 0;
    color: #f0f0f0;
    font-size: 20px;
    font-weight: 500;
}

.canvas_description {
    margin: 0;
    margin-top: 16px;
    color: #f0f0f0;
    font-size: 14px;
    font-weight: 300;
    line-height: 20px;
}

.canvas_options {
    margin-top: 30px;
}

.options_item {
    lost-utility: clearfix;
    border-bottom: 1px solid rgba(240, 240, 240, .2);
    padding-bottom: 20px;
}

.options_item h5 {
    color: #99ADC6;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: .5px;
    margin: 0;
    margin-bottom: 10px;
    padding-top: 20px;
}

.options_item h4 {
    color: #f0f0f0;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    margin: 0;
    word-break: break-word;
    word-wrap: break-word;
    line-height: 25px;
    background: #40485D;
    border-radius: 3px;
    padding: 3px 10px;
    display: inline-block;
}

.active {
    background: #3B99FC;
    position: relative;
    border-bottom: none;
}

.active:after {
    position: absolute;
    content: '';
    width: 0; 
    height: 0; 
    border-top: 25px solid transparent;
    border-bottom: 25px solid transparent;
    border-left: 20px solid #3B99FC;
    right: -20px;
    top: 0;
}