.title {
    font-size: 20px;
    font-weight: 500;
    margin: 0;
    line-height: 50px;
    margin-left: 20px;
    color: #000;
}

.canvas_board {
    lost-utility: clearfix;
    position: relative;
}
.header {
    position: relative;
    z-index: 99;
}
/* .surface {
    background: red;
    lost-utility: clearfix;
} */

.canvas_header {
    height: 50px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    padding: 0 20px;
}

.board_panels {
    /* margin-top: 100px; */
    margin: 10px;
}
.board {
    user-select: none;
    white-space: nowrap;
    /* margin-bottom: 10px; */
    overflow-x: auto;
    overflow-y: hidden;
    /* padding-bottom: 10px; */
    position: absolute;
    /* top: 20px; */
    right: 0;
    /* bottom: 0; */
    left: 0px;
    margin-bottom: 20px;
    /* height: 100%; */
    padding: 0 20px;
}

.header_scope {
    font-size: 14px;
    padding: 5px 10px;
    vertical-align: middle;
    font-weight: 300;
    border-left: 1px solid rgba(255,255,255, .2);
    margin-left: 10px;
    letter-spacing: 1px;
    cursor: pointer;
}

.header_scope a {
    text-decoration: none;
    color: #000;
}

.header_scope:hover {
    background: rgba(0,0,0,.3);
    border-radius: 3px;
}

/* OUTPUT LIST */
.list {
    margin-top: 10px;
}

.outputs_list, .inputs_list {
    width: 270px;
    margin-right: 10px;
    height: 100%;
    box-sizing: border-box;
    display: inline-block;
    vertical-align: top;
    white-space: nowrap;

}
    .outputs_title {
        font-size: 16px;
        text-align: left;
        font-weight: 500;
        /* padding-left: 10px;
        padding-top: 10px; */
        margin: 0;
        margin-top: 5px;
        text-transform: capitalize;
        letter-spacing: .5px;
        color: #333C44;
    }

.outputs_card, .inputs_card {
    background: #333C44;
    border-radius: 3px;
    overflow: hidden;
    padding: 6px 6px 2px 8px;
    position: relative;
    z-index: 10;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    cursor: pointer;
    margin-bottom: 6px;
    max-width: 300px;
    min-height: 20px;
    position: relative;
    z-index: 0;
    padding: 10px;
}
.outputs_card .card_output_title {
    color: white;
    font-size: 14px;
    font-weight: 500;
}

.inputs_card {
    background: transparent;
    border: 1px solid #333C44;
}
.inputs_card span {
    color: black;
}