.container {
    display: initial
}

.agent {
    padding: 20px;
    lost-utility: clearfix;
    margin-top: 40px;
}

.agent_info {
    lost-column: 8/10;
    lost-offset: 1/10;
}

.info_image {
    width: 40px;
    height: 40px;
    border-radius: 100%;
    float: left;
    margin-right: 10px;
    background: #f5f5f5;
}

.image_photo {
    width: 40px;
    height: 40px;
    border-radius: 100%;
    display: block;
}

.info_title {
    float: left;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: .5px;
    height: 40px;
    line-height: 40px;
    margin: 0;
    color: white;
}



.agent_actions {
    lost-column: 8/10;
    lost-offset: 1/10;
    margin-top: 30px;
}

.actions_panel {
    height: 80px;
    background: #fff;
    border-radius: 3px;
    lost-column: 3/10;
    position: relative;
}

.actions_panel a {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    text-decoration: none;
}

.actions_panel a span {
    padding: 15px;
    display: block;
    font-size: 16px;
    height: 40px;
    line-height: 16px;
    margin-top: 7px;
    color: #100F2B;
}

.actions_panel a span o {
    display: block;
    font-size: 13px;
    font-weight: 600;
    letter-spacing: 1px;
}

.agent_menu {
    margin-top: 40px;
    lost-column: 8/10;
    lost-offset: 1/10;
    padding-bottom: 10px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.30);
}

.menu_item {
    display: inline-block;
    margin: 0;
    margin-right: 70px;
    font-weight: 400;
    color: #FFFFFF;
    font-size: 14px
}

.item_active {
    position: relative;
    font-weight: 500;
} 

.item_active:after {
    position: absolute;
    content: "";
    left: 0;
    width: 100%;
    height: 1px;
    background: #FFFFFF;
    display: block;
    bottom: -11px;
}

.agent_section {
    lost-column: 8/10;
    lost-offset: 1/10;
}

.title {
    font-size: 20px;
    font-weight: 300;
    margin: 0;
    line-height: 50px;
    margin-left: 20px;
    color: #3F4657;
}

.canvas_board {
    lost-utility: clearfix;
    position: relative;
}
.header {
    position: relative;
    z-index: 99;
    margin-bottom: 10px;
}
/* .surface {
    background: red;
    lost-utility: clearfix;
} */

.canvas_header {
    height: 50px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    padding: 0 20px;
}

.board_panels {
    /* margin-top: 100px; */
}
.board {
    user-select: none;
    white-space: nowrap;
    /* margin-bottom: 10px; */
    overflow-x: auto;
    overflow-y: hidden;
    /* padding-bottom: 10px; */
    position: absolute;
    /* top: 20px; */
    right: 0;
    /* bottom: 0; */
    left: 0px;
    margin-bottom: 20px;
    /* height: 100%; */
    padding: 0 20px;
}

.header_scope_kanban {
    /* font-size: 14px; */
    padding: 5px 10px;
    vertical-align: middle;
    font-weight: 300;
    border-left: 1px solid rgba(255,255,255, .2);
    margin-left: 10px;
    letter-spacing: 1px;
    cursor: pointer;
    background: #35558F;
    border-radius: 3px;
}

.title i {
    margin-right: 10px;
    /* font-weight: 400; */
}

.header_scope {
    /* font-size: 14px;
    padding: 5px 10px;
    vertical-align: middle;
    font-weight: 300;
    border-left: 1px solid rgb(242, 242, 242); */
    margin-right: 10px;
    font-weight: 500;
    border-bottom: 1px dashed #dadada;
    padding-bottom: 4px;
    /* letter-spacing: 1px; */
    cursor: pointer;
    background: transparent;
}

.header_scope a {
    text-decoration: none;
    color: #313131;
}

/* .header_scope:hover {
    background: rgba(0,0,0,.3);
    border-radius: 3px;
} */

.scope_list {
    display: inline-block;
    list-style: none;
    padding: 0;
    margin: 0;
}

.scope_list li {
    float: left;
    line-height: 10px;
    margin-right: 20px;
    color: #FFFFFF;
}

.scope_list li:last-of-type {
    margin-right: 0;
}

.scope_list .list_active {
    font-weight: 600;
    color: #FFFFFF;
}