.canvasWrapper {
  /* position: relative;
  min-height: 100vh;
  margin-bottom: 20px; */
}

.wrapperContainer {
  flex: 1;
    flex-direction: row;
    position: absolute;
    top: 0;
    bottom: 0;
    overflow-x: scroll;
    width: 100%;
    left: 0;
    padding: 10px;
}

.agentWrapper {
  flex: 1 1 auto;
  flex-direction: column;
  justify-content: flex-start;
  overflow-x: auto;
  position: relative;
  vertical-align: top;
  white-space: nowrap;
  position: relative;
  box-sizing: border-box;
  flex-direction: column;
  flex: 0 0 auto;
  overflow: hidden;
  display: flex;
  -webkit-box-orient: horizontal;
  flex: 1;
  padding-bottom: 10px;
  padding-right: 10px;
}

.wrapper {
  display: flex;
  flex: 1 1 auto;
  flex-direction: row;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  overflow-x: auto;
  position: relative;
  margin-left: -5px;
  margin-right: -5px;
}

.right_button {
  background: #1c1d1f;
  border-radius: 4px;
  padding: 0 15px;
  height: 30px;
  display: inline-block;
  margin-top: 5px;
  margin-right: 10px;
  line-height: 30px;
  color: #fafafa;
  text-decoration: none;
  font-size: 14px;
  margin-left: 10px;
}

.right_button span {
  margin-right: 5px;
  vertical-align: sub;
}

.headerLink {
  color: #f0f0f0;
}

.buttonIcon {
  line-height: 28px;
  vertical-align: sub;
}

.errorEmoji {
  text-align: center;
}

.errorWrapper {
  margin-top: 100px;
}

.errorWrapperTitle {
  text-align: center;
  font-size: 28px;
  color: #fafafa;
}

.errorWrapperDesc {
  text-align: center;
  font-size: 18px;
  color: #fafafacc;
  font-weight: 400;
}

.errorLink {
  background: #2588d0;
  padding: 0 10px;
  height: 40px;
  display: block;
  width: 100px;
  line-height: 40px;
  text-align: center;
  margin: 0 auto;
  margin-top: 40px;
  text-decoration: none;
  border-radius: 4px;
  color: white;
}
