.canvasWrapper {
  position: relative;
  min-height: 100vh;
  padding: 10px;
}

.wrapperContainer {
  user-select: none;
  white-space: nowrap;
  overflow-x: auto;
  overflow-y: hidden;
  /* position: absolute; */
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.right_button {
  background: #1c1d1f;
  border-radius: 4px;
  padding: 0 15px;
  height: 30px;
  display: inline-block;
  margin-top: 5px;
  margin-right: 10px;
  line-height: 30px;
  color: #fafafa;
  text-decoration: none;
  font-size: 14px;
}

.right_button span {
  margin-right: 5px;
  vertical-align: sub;
}