@import "../mixins.css";
@import "../variables.css";

.header {
    background: #393F4F;
    border-radius: 3px;
    height: 40px;
    padding: 0;
    margin: 0;
}

h5 {
    margin: 0;
}

.container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-direction: column;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    overflow-x: auto;
    position: relative;
    padding: 10px;
    padding-left: 0;
    padding-top: 0;
  }
  

.validation {
    display: flex;
    flex: 1 1 auto;
    flex-direction: row;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    overflow-x: auto;
    position: relative;
    margin-left: -5px;
    margin-right: -5px;
  }
  
  .orgLink {
      text-decoration: none;
  }